# Core
streamlit>=1.25

# Streamlit Extras (includes stylable_container and animated_headline)
streamlit-extras==0.2.7

# Data handling
pandas>=1.5
openpyxl>=3.1
xlsxwriter>=3.1

# Plotting
matplotlib>=3.7
seaborn>=0.12
plotly>=5.15

# Machine learning
scikit-learn>=1.2
joblib>=1.2
statsmodels>=0.14

# PDF Export
fpdf>=1.7
